@charset "utf-8";

@media (min-width: 48em) {
	.archive p {
		font-size: 0.9em;
	}
}
@media (min-width: 64em) {
	.archive p {
		font-size: 0.8em;
	}
}
@media (min-width: 80em) {
	.archive p {
		font-size: 0.7em;
	}
}
