@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@media (min-width: 48em) {
	p {
		font-size: 0.9em;
	}
}
@media (min-width: 64em) {
	p {
		font-size: 0.8em;
	}
}
@media (min-width: 80em) {
	p {
		font-size: 0.7em;
	}
}
